<div class="controls">
    <mat-form-field>
      <mat-label>Inner Grid Cell Size (px)</mat-label>
      <input matInput type="number" [value]="cellSize" (input)="updateCellSize($event)" min="10">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Select Grid Background Color</mat-label>
        <mat-select [(value)]="selectedColor" (selectionChange)="updateGridColor($event.value)">
            @for (color of colors; track color) {
                <mat-option [value]="color.code">
                    <span [style.background]="color.code" class="color-box"></span> {{ color.name }}
                  </mat-option>
            }
        </mat-select>
      </mat-form-field>
</div>
  
<div class="grid" [style.grid-template-columns]="'repeat(' + outerGridSize + ', 1fr)'" 
    [style.grid-template-rows]="'repeat(' + outerGridSize + ', 1fr)'" [style.background]="selectedColor">
  @for (item of items; track item) {

    <div class="grid-item">
      <div class="inner-grid" [style.grid-template-columns]="'repeat(' + innerGridSize + ', ' + cellSize + 'px)'" 
        [style.grid-template-rows]="'repeat(' + innerGridSize + ', ' + cellSize + 'px)'">

        @for (innerItem of innerGridItems; track innerItem) {
          <div class="inner-grid-item"></div>
        }
      </div>
    </div>
  }
</div>
  